.banner{
  width: 100%;
}
.banner img{
  width: 100%;
  z-index: 1;
}
.carrots-title{
  font-size: 100px;
  z-index: 2;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.carrots{
  /*position: relative;*/
  display: flex;
  flex-wrap: wrap;
}
.carrots-content{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 770px;
}
.carrots-info{
  width: 75%;
  flex-wrap: wrap;
  align-items: baseline;
}
.carrots-info div p{
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  }
.info-boxes{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}
.box{
  width: 400px;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.box h3{
  color: #301900;
}

.carrots3 {
  width: 560px;
  display: inline-block;
  position: relative;
  transition: .1s;
  top: -100px;
}
.shape {
  background-image: url(../../assets/images/shape1-01.png);
  width: 275px;
  height: 275px;
  position: absolute;
  top: 422px;
  right: 145px;
  background-position: 0px;
  -webkit-mask-image: url(../../assets/images/carrot-mask.png);
  mask-image: url(../../assets/images/carrot-mask.png);
  background-size: contain;
  mask-size: contain;
  mask-repeat: no-repeat;
  transform: rotate(46deg);
}
.shape2 {
  background-image: url(../../assets/images/shape1-01.png);
  width: 180px;
  height: 180px;
  position: absolute;
  top: 588px;
  right: 272px;
  background-position: 0px;
  -webkit-mask-image: url(../../assets/images/carrot-mask.png);
  mask-image: url(../../assets/images/carrot-mask.png);
  background-size: contain;
  mask-size: contain;
  mask-repeat: no-repeat;
  transform: rotate(48deg);
}
.shape3 {
  background-image: url(../../assets/images/shape1-01.png);
  width: 218px;
  height: 218px;
  position: absolute;
  top: 520px;
  right: 89px;
  background-position: 0px;
  -webkit-mask-image: url(../../assets/images/carrot-mask.png);
  mask-image: url(../../assets/images/carrot-mask.png);
  background-size: contain;
  mask-size: contain;
  mask-repeat: no-repeat;
  transform: rotate(50deg);
}

@media (max-width: 650px) {
  .carrots {
    padding-left: 50px;
  }
  .carrots3 {
    width: 150px;
    margin: 0px;
    top: -50px;
  }
  .carrots3 img{
    width: 150px;
  }
  .carrots-title{
    font-size: 400%;
    top:10%;
  }
  .carrots-content{
    display: none;
  }
  .carrots-info{
    width: 100%;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media (min-width: 651px) and (max-width: 1150px) {
  .box{
    width: 400px;
    margin-left: 15px;
  }
  .carrots-title{
    font-size: 64px;
    top:55px;
  }
}
@media (min-width: 1151px) and (max-width: 1216px) {
  .box{
    width: 400px;
    justify-content: flex-start;
  }
}
@media (min-width: 1217px) and (max-width: 1368px) {
  .carrots-content{
    z-index: 1;
    width: 300px;
  }
  .carrots-info{
    z-index: 2;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .box{
    margin-left: 2%;
  }
}