.banner{
  width: 100%;
}
.banner img{
  width: 100%;
}
.container {
  height: 200vh;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.carrots{
  /*position: relative;*/
  display: flex;
  flex-wrap: wrap;
}
.carrots-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrots-title{
  font-size: 45px;
}
.carrots-info{
  width: 700px;
}

.carrots-info div p{
  width: 80%;
  font-size: 18px;
  line-height: 30px;
  }
.carrots-info div:nth-child(1){
  background-color: tomato;
}
.carrots3 {
  width: 560px;
  display: inline-block;
  position: relative;
  transition: .1s;
  top: -150px;
}
.shape {
  background-image: url(/images/shape1-01.png);
  width: 275px;
  height: 275px;
  position: absolute;
  top: 402px;
  right: 158px;
  background-position: 0px;
  -webkit-mask-image: url(/images/carrot-mask.png);
  mask-image: url(/images/carrot-mask.png);
  background-size: contain;
  mask-size: contain;
  mask-repeat: no-repeat;
  transform: rotate(46deg);
}
.shape2 {
  background-image: url(/images/shape1-01.png);
  width: 180px;
  height: 180px;
  position: absolute;
  top: 570px;
  right: 285px;
  background-position: 0px;
  -webkit-mask-image: url(/images/carrot-mask.png);
  mask-image: url(/images/carrot-mask.png);
  background-size: contain;
  mask-size: contain;
  mask-repeat: no-repeat;
  transform: rotate(48deg);
}
.shape3 {
  background-image: url(/images/shape1-01.png);
  width: 218px;
  height: 218px;
  position: absolute;
  top: 498px;
  right: 102px;
  background-position: 0px;
  -webkit-mask-image: url(/images/carrot-mask.png);
  mask-image: url(/images/carrot-mask.png);
  background-size: contain;
  mask-size: contain;
  mask-repeat: no-repeat;
  transform: rotate(48deg);
}

@media (max-width: 600px) {
  .carrots3 {
    width: 150px;
    margin: 0px;
    top: -50px;
  }
  .carrots3 img{
    width: 150px;
  }
  .carrots-content{
    height: 50vh;
    width: 150px;
  }

  .carrots-info{
    width: 200px;
  }
}